
footer{

    width: 100%;
    height: 409px;    
    position: absolute;
    top: 2761px;
    background-color: #070917;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 132px;
    


    
    
}